<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <title>amis demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <!--<link rel="stylesheet" href="amis/sdk.css" />-->
    <link rel="stylesheet" href="https://houtai.baidu.com/v2/csssdk"/>
    <style>
        html,
        body,
        .app-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div id="root" class="app-wrapper"></div>
<!--<script src="amis/sdk.js"></script>-->
<script src="https://houtai.baidu.com/v2/jssdk"></script>
<script type="text/javascript">
    (function () {
        let amis = amisRequire('amis/embed');
        let amisScoped = amis.embed('#root', {
            "type": "page",
            "body": [
                {
                    "type": "nav",
                    "stacked": false,
                    "links": [
                        {
                            "label": "创建课程模块",
                            "to": "/",
                            "icon": "fa fa-user"
                        },
                        {
                            "label": "删除课程模块",
                            "to": "/d"
                        },
                        {
                            "label": "查询模块",
                            "to": "/q"
                        },
                        {
                            "label": "上课模块",
                            "to": "/s"
                        }
                    ]
                },


                {
                    "type": "form",
                    "title": "最新小班课课程ID",
                    "initApi": "https://3xsw4ap8wah59.cfc-execute.bj.baidubce.com/api/amis-mock/mock2/steps/steps",
                    "body": [

                        {
                            "type": "page",
                            "body": {
                                "type": "panel",
                                "title": "小班课查询",
                                "body": "小班课的ID${id}"
                            }
                        }
                    ],

                    "api": {
                        "method": "get",
                        "url": "http://127.0.0.1:5000/4"
                    },
                },
                {
                    "type": "form",
                    "title": "约排课",
                    "initApi": "https://3xsw4ap8wah59.cfc-execute.bj.baidubce.com/api/amis-mock/mock2/steps/steps",
                    "body": [
                        {
                            "type": "steps",
                            "steps": [
                                {
                                    "title": "获取最新创建精品课ID"
                                },
                                {
                                    "title": "给精品课加ID",

                                },
                                {
                                    "title": "成功",
                                }
                            ]
                        },
                        {
                            "type": "page",
                            "body": {
                                "type": "panel",
                                "title": "小班课的id编号",
                                "body": "精品课${jpk}成功添加学员"
                            }
                        }
                    ],
                    "api": {
                        "method": "get",
                        "url": "http://127.0.0.1:5000/23"
                    },

                },
                {
                    "type": "form",
                    "title": "查询课程下未约课学员",

                    "body": [
                        {
                            "type": "input-text",
                            "name": "text1",
                            "label": "请输入你需要查询的小班课ID："
                        },

                        {
                            "type": "page",
                            "body": {
                                "type": "panel",
                                "data": {
                                    "row":  "message['scores']",
                                },
                                "title": "该课程下未约课班级人数",
                                "body": {
                                    "type": "tpl",
                                    "tpl": "row is: ${row|objectToArray|json}"
                                }
                            }
                        }

                    ],
                    "api": {
                        "method": "post",
                        "url": "http://127.0.0.1:5000/33"
                    },


                },
                {
                    "type": "form",
                    "title": "选择要上课的课程",

                    "body": [
                        {
                            "type": "input-text",
                            "name": "text1",
                            "label": "请输入小班课ID："
                        },
                        {
                            "type": "input-text",
                            "name": "text2",
                            "label": "请输入创建班级名称："
                        },
                        {
                            "type": "page",
                            "body": {
                                "type": "panel",
                                "title": "立即上课",
                                "body": {
                                    "type": "tpl",
                                    "tpl": "立即: ${result}"
                                }
                            }
                        }

                    ],
                    "api": {
                        "method": "post",
                        "url": "http://127.0.0.1:5000/21"
                    },


                },
                 {
                    "type": "form",
                    "title": "LiveID",

                    "body": [
                        {
                            "type": "input-text",
                            "name": "text3",
                            "label": "请输入liveid："
                        },

                        {
                            "type": "page",
                            "body": {
                                "type": "panel",
                                "title": "立即上课",
                                "body": {
                                    "type": "tpl",
                                    "tpl": "创建班级: ${result}成功"
                                }
                            }
                        }

                    ],
                    "api": {
                        "method": "post",
                        "url": "http://127.0.0.1:5000/33"
                    },


                },



            ]


        });
    })();
</script>
</body>
</html>
